//aaaa ICON "icon/xami.ico"
ICO_XAMI ICON "icon/xami.ico"
BMP_XAMI BITMAP "icon/xami.bmp"
BMP_TOOL_NEWSESSION BITMAP "icon/newsession.bmp"
BMP_TOOL_DESTROYSESSION BITMAP "icon/destroysession.bmp"
BMP_TOOL_SETUP BITMAP "icon/setup.bmp"
BMP_TOOL_DOACTION BITMAP "icon/doaction.bmp"
BMP_TOOL_MAKECALL BITMAP "icon/makecall.bmp"
BMP_TOOL_HANGUP BITMAP "icon/hangup.bmp"
BMP_TOOL_TRANSFER BITMAP "icon/transfer.bmp"
BMP_TOOL_RECSTART BITMAP "icon/recstart.bmp"
BMP_TOOL_RECSTOP BITMAP "icon/recstop.bmp"
BMP_TOOL_CALLMEMO BITMAP "icon/callmemo.bmp"

#include "wx/msw/wx.rc"
